@import 'theme.scss';

.ui-textbox.field {
  margin: 1rem 0;

  .validation-message {
    margin-top: 4px;
    font-weight: 400;
  }

  &.error {
    .ui.textbox textarea {
      border: 1px solid $color-red;
    }

    .ui.textbox label {
      color: $color-red;
    }

    .validation-message {
      color: $color-red;
    }
  }

  &.success {
    .ui.textbox textarea {
      border: 1px solid $color-green;
    }

    .validation-message {
      color: $color-green;
    }
  }

  
  .ui.textbox {
    position: relative;

    label {
      background: #FFF;
      left: 13px;
      position: absolute;
      top: -8px;
      color: #8B8B8B;
      font-size: 12px;
      font-weight: normal;
    }

    textarea {
      padding: .5rem .8rem;
      background-color: transparent;
      border: 1px solid #adb5bd;
      border-radius: 4px;
      font-size: 15px;
      font-weight: normal;
      line-height: 1.42857143;
    }
  
  }

}