$color-red: #DF1D1D;
$color-yellow: #FFEB60;
$color-sub-yellow: #FFB904;
$color-orange: #EB683F;
$color-blue: #0078D4;
$color-purple: #A451F7;
$color-green: #66a80f;
$color-black: #3D3D3D;
$color-gray: #8B8B8B;